.WAMuiChipInput-label-18{
    top:7px !important;
    font-size: 12px !important;
}
.WAMuiChipInput-chipContainer-13.WAMuiChipInput-labeled-17.WAMuiChipInput-chipContainer-13.WAMuiChipInput-standard-15{
        overflow-x: auto;
}